{% extends 'base.html' %}
{%load static%}
               

{%block content%}

<div class="navbar navbar-dark sticky-top bg-success flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Bienvenido</a>
  <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100 none" type="text" placeholder="Buscar Libro" aria-label="Search" >
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-4" href="#"></a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
        
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#literatura">
              <span data-feather="home"></span>
              Literatura
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#matematicas">
              <span data-feather="home"></span>
              Matemáticas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fisica">
              <span data-feather="file"></span>
              Física
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#quimica">
              <span data-feather="shopping-cart"></span>
              Química
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#historia">
              <span data-feather="users"></span>
              Historia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#psicologia">
              <span data-feather="bar-chart-2"></span>
              Psicologia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#filosofia">
              <span data-feather="layers"></span>
              Filosofía
            </a>
          </li>
        </ul>    
      </div>
    </nav>
		

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Biblioteca Virtual</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>







      <div>
        <div class="bd-example">
        <img  src="{% static 'img/libros.jpg' %}" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></img>
        </div>
        <br>
      </div>







  <!-- *********************************************************************
                                LITERATURA                                    
            ********************************************************************** -->
      
        <section id="literatura">
        <div class="col text-center">
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-auto">
      
        <div class="bd-example ">
          <img  src="{% static 'img/ami1.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
          <div class="col text-center">
        <a href="https://download1080.mediafire.com/6l2xfp6f559g/hp956lvr9jjsjrl/Ami" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>
        
        <div class="bd-example ">
          <img  src="{% static 'img/joe1.jpg' %}" class="bd-placeholder-img img-thumbnail" width="215" height="215"></img>
          <div class="col text-center">
        <a href="https://download1075.mediafire.com/uqvxsxsa2vtg/5tx1fky1tmtsga0/deja+de+ser+t%C3%BA.pdf" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>

        <div class="bd-example ">
          <img  src="{% static 'img/brian2.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
          <div class="col text-center">
        <a href="https://download1510.mediafire.com/2vfo5cdme5og/9ugjkcuvjs1k2qo/Muchos+cuerpos%2C+una+misma+alma.pdf" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>

        <div class="bd-example ">
          <img  src="{% static 'img/ricardo1.JPG' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
          <div class="col text-center">
        <a href="https://download1506.mediafire.com/jqu1dc7w44og/r9art7q6pmvrlnd/El+gato+que+venia+del+cielo.pdf" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>

        <div class="bd-example ">
          <img  src="{% static 'img/ricardo2.JPG' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
          <div class="col text-center">
        <a href="https://download1472.mediafire.com/wbkl0ot8uwjg/qzfq9z8bjj58j68/%28Enric+Corbera%29+-+El+so%C3%B1ador+del+sue%C3%B1o.pdf" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>

        <div class="bd-example ">
          <img  src="{% static 'img/ami2.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
          <div class="col text-center">
        <a href="https://download1584.mediafire.com/i3ryl7467gyg/t49h4fmj82tzhcf/Ami_Regresa.pdf" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>

        <div class="bd-example ">
          <img  src="{% static 'img/louise3.JPG' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
          <div class="col text-center">
        <a href="https://download1586.mediafire.com/6rl54jwwveug/ht2qcgfc9kw4eqr/LOS4ACUERDOS.pdf" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>

        <div class="bd-example ">
          <img  src="{% static 'img/apego.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
          <div class="col text-center">
        <a href="https://download856.mediafire.com/b28g5s61slwg/bxeedgitca612zk/downloadfile-50.bin.pdf" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>

        <div class="bd-example ">
          <img  src="{% static 'img/steve.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
          <div class="col text-center">
        <a href="https://download941.mediafire.com/cs1pcqbgogcg/xtpqysjg6vcmtjj/039-Las+cuatro+vidas+de+Steve+Jobs+-+Daniel+Ichbiah.pdf" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
        </div>
        </div>
      </div>
      </section>

        <!-- *********************************************************************
                                MATEMATICAS                                   
            ********************************************************************** -->
            <div class="container px-4 py-5" id="featured-3"></div>
            <h2 class="pb-2 border-bottom text-center">Matemáticas</h2>
            <section id="matematicas">
              <div class="col text-center">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-auto">
              
                <div class="bd-example ">
                  <img  src="{% static 'img/mat1.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                  <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
                
                <div class="bd-example ">
                  <img  src="{% static 'img/mat2.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
        
                <div class="bd-example ">
                  <img  src="{% static 'img/mat3.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
              </section>

      <!-- *********************************************************************
                               FISICA                                 
            ********************************************************************** -->
            <div class="container px-4 py-5" id="featured-3"></div>
            <h2 class="pb-2 border-bottom text-center">Física</h2>
            <section id="fisica">
              <div class="col text-center">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-auto">
              
                <div class="bd-example ">
                  <img  src="{% static 'img/fis1.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
                
                <div class="bd-example ">
                  <img  src="{% static 'img/fis2.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
        
                <div class="bd-example ">
                  <img  src="{% static 'img/fis3.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
        
              </section>
        <!-- *********************************************************************
                               Quimica                                 
            ********************************************************************** -->
            <div class="container px-4 py-5" id="featured-3"></div>
            <h2 class="pb-2 border-bottom text-center">Química</h2>
              <section id="quimica">
                <div class="col text-center">
                 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-auto">
                
                  <div class="bd-example ">
                    <img  src="{% static 'img/quim1.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                    <div class="col text-center">
                  <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                  </div>
                  </div>
                  
                  <div class="bd-example ">
                    <img  src="{% static 'img/quim2.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                    <div class="col text-center">
                  <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                  </div>
                  </div>
          
                  <div class="bd-example ">
                    <img  src="{% static 'img/quim3.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                    <div class="col text-center">
                  <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                  </div>
                  </div>
                </section>

                  <!-- *********************************************************************
                                      HISTORIA                              
            ********************************************************************** -->
            <div class="container px-4 py-5" id="featured-3"></div>
            <h2 class="pb-2 border-bottom text-center">Historia</h2>
            <section id="historia">
              <div class="col text-center">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-auto">
              
                <div class="bd-example ">
                  <img  src="{% static 'img/hist1.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
                
                <div class="bd-example ">
                  <img  src="{% static 'img/hist2.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
        
                <div class="bd-example ">
                  <img  src="{% static 'img/hist3.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
              </section>

              <!-- *********************************************************************
                                      PSICOLOGIA                           
            ********************************************************************** -->
            <div class="container px-4 py-5" id="featured-3"></div>
            <h2 class="pb-2 border-bottom text-center">Psicología</h2>
            <section id="psicologia">
              <div class="col text-center">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-auto">
              
                <div class="bd-example ">
                  <img  src="{% static 'img/psi1.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
                
                <div class="bd-example ">
                  <img  src="{% static 'img/psi2.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
        
                <div class="bd-example ">
                  <img  src="{% static 'img/psi3.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
              </section>


              <!-- *********************************************************************
                                      FILOSOFIA                           
            ********************************************************************** -->
            <div class="container px-4 py-5" id="featured-3"></div>
            <h2 class="pb-2 border-bottom text-center">Filosofía</h2>
            <section id="filosofia">
              <div class="col text-center">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-auto">
              
                <div class="bd-example ">
                  <img  src="{% static 'img/filo1.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
                
                <div class="bd-example ">
                  <img  src="{% static 'img/filo2.jpg' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
        
                <div class="bd-example ">
                  <img  src="{% static 'img/filo3.png' %}" class="bd-placeholder-img img-thumbnail" width="200" height="200"></img>
                  <div class="col text-center">
                <a href="#" class="w-50 btn btn-primary btn-lg" role="button">Descargar</a>
                </div>
                </div>
              </section>

        </div>
      </div>
      <canvas class="my-4 w-20" id="myChart" width="100" height="100"></canvas>

      </div>
    </main>
  </div>
</div>


{%endblock%}  